/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --accent-color: #353430;
    --h1-text-color: #ffc2e6;
    --h1-shadow-color: #ff8dcb;
    --title-text-color: #353430;
    --background-text-color: #ff8dcb;
    --main-title-color: #353430;
    --text-color: #353430;
    --text-link-color: #353430;
    --page-background-color: #fff1f7;
    --button-border-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --outline-link-color: #353430;
    --border-link-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --rec: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-color: #353430;
        --h1-text-color: #ffc2e6;
        --h1-shadow-color: #ff8dcb;
        --title-text-color: #353430;
        --background-text-color: #ff8dcb;
        --main-title-color: #353430;
        --text-color: #353430;
        --text-link-color: #353430;
        --page-background-color: #fff1f7;
        --button-border-color: #353430;
        --button-hover-color: rgba(50, 49, 45, 0.4);
        --outline-link-color: #353430;
        --border-link-color: #353430;
        --background-image: url(../images/cover-image-light.png);
        --rec: none;
    }
}
